.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(191, 227, 243);
  height: 8rem;
}

/* .foto-perfil {
  padding: 2rem;
  height: 12rem;
  width: 12rem;
  border-radius: 10rem;
} */

h3 {
  padding: 2rem;
}

.navegacao {
  display: flex;
  flex-direction: row;
}

.navegacao > li {
  padding: 1rem;
}

.navegacao > li:hover {
  font-size: 1.2rem;
}

.contato-button {
  background-color: blue;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 2rem;
}

hr {
  border-width: 0;
  height: 0.1rem;
  border-top-width: 0.13rem;
}