header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #303841;
  width: 80%;
  height: 8rem;
  margin: 1rem 0rem 2rem 0rem;
  border-radius: 1rem;
}

.header-container > h3 {
  padding: 2rem;
  transition: transform 0.3s ease;
}

.header-container > h3:hover {
  transform: scale(1.1);
}

.navegacao {
  display: flex;
  flex-direction: row;
}

.navegacao > li {
  padding: 1rem;
  transition: transform 0.3s ease;
}

.navegacao > li:hover {
  transform: scale(1.3);
}
