.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  min-height: 100vh;
}

.main-container > div {
  width: 45%;
}

.main-container > div > article {
  padding: 1rem 0rem;
}

.main-container > img {
  height: 25rem;
  width: 25rem;
  transition: transform 0.3s ease;
}

.main-container > img:hover {
  transform: scale(1.1);
}

.button-curriculo {
  background-color: #6486ad;
  border-radius: 0.5rem;
  color: white;
  height: 3rem;
  padding: 0.5rem;
  transition: 0.3s ease;
}

.button-curriculo:hover {
  transform: scale(1.05);
}
