.main-container {
  display: flex;
  height: 25rem;
  justify-content: center;
}

.sobre-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  background-color: #303841;
  border-radius: 1rem;
}

.sobre-container > div {
  width: 70%;
}

.sobre-container > div > article {
  padding: 1rem 0rem;
}

.sobre-container > img {
  height: 15rem;
  width: 15rem;
  transition: transform 0.3s ease;
}

.sobre-container > img:hover {
  transform: scale(1.2);
}

.button-curriculo {
  background-color: #6486ad;
  border-radius: 0.5rem;
  color: white;
  height: 3rem;
  padding: 0.5rem;
  transition: 0.3s ease;
}

.button-curriculo:hover {
  transform: scale(1.05);
}
