.projetos-container {
  display: flex;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}